<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="mall/header::head-fragment('OnlineMall-商品详情','detail')">
</head>
<body>
<header th:replace="mall/header::header-fragment"></header>

<div id="detail">
    <!-- nav -->
    <nav th:replace="mall/header::nav-fragment"></nav>

    <div class="dc">
        <div class="content w">
            <div class="title fl">商品详情</div>
            <nav class="fr">
                <li><a href="##">概述</a></li>
                <li>|</li>
                <li><a href="##">详情</a></li>
                <li>|</li>
                <!--<li><a href="##">用户评价</a></li>-->
                <div class="clear"></div>
            </nav>
            <div class="clear"></div>
        </div>
    </div>

    <div class="intro mt20 w clearfix">
        <div class="left fl" style="position: relative;">
            <div class="swiper-container fl">
                <img th:src="@{${goodsDetail.goodsCoverImg}}">
            </div>
        </div>
        <div class="right fr">
            <div class="h3 ml20 mt20" th:text="${goodsDetail.goodsName}">NewBeeMall</div>
            <div class="sub_title mr40 ml20 mt10" th:text="${goodsDetail.goodsIntro}">NewBeeMall</div>
            <div class="item_price mr40 ml20 mt10">
                <th:block th:text="${goodsDetail.sellingPrice}+'.00 元'"></th:block>
                <del>
                    <th:block th:text="${goodsDetail.originalPrice}+'.00 元'"></th:block>
                </del>
            </div>

            <div class="order">
                <input id="saveAndGoCart" plus="" th:imitedTime="${goodsDetail.imitedTime}" class="car" type="button" th:if="${goodsDetail.goodsSellStatus} eq '0'"   th:onclick="'saveAndGoCart('+${goodsDetail.goodsId}+')'" value="立即选购"/>
                <input id="gouwuche" class="car" type="button" th:if="${goodsDetail.goodsSellStatus} eq '0'"   th:onclick="'saveToCart('+${goodsDetail.goodsId}+')'" value="加入购物车"/>
            </div>
            <div class="tb-extra ml20" id="J_tbExtra">
                <dl id="qianggou">
                    <dt>抢购：</dt>
                    <dd><a id="qianggouTime" class="J_Cont"  href="#"
                           target="_blank"></a></dd>
                </dl><dl>
                    <dt>承诺</dt>
                    <dd><a class="J_Cont" title="满足7天无理由退换货申请的前提下，包邮商品需要买家承担退货邮费，非包邮商品需要买家承担发货和退货邮费。" href="#"
                           target="_blank">7天无理由</a></dd>
                </dl>
                <dl>
                    <dt>支付</dt>
                    <dd><a href="##" target="_blank"><img th:src="@{/mall/image/hua.png}">蚂蚁花呗</a><a href="##"
                                                                                                     target="_blank"><img
                            th:src="@{/mall/image/card.png}">信用卡支付</a><a href="##" target="_blank"><img
                            th:src="@{/mall/image/ji.png}">集分宝</a></dd>
                </dl>
                <dl>
                    <dt>支持</dt>
                    <dd>折旧变现，买新更省钱。<a style="float:none;text-decoration: underline;" href="##">详情</a></dd>
                </dl>

            </div>
        </div>
        <div class="clear"></div>
    </div>
    <!-- 这里使用的是 th:utext 标签，用 th:text 不会解析 html，用 th:utext 会解析 html -->
    <div class="goods mt20 w clearfix" th:utext="${goodsDetail.goodsDetailContent}">
    </div>
</div>

<div th:replace="mall/footer::footer-fragment"></div>

<!-- jQuery -->
<script th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>
<script th:src="@{/admin/plugins/sweetalert/sweetalert.min.js}"></script>
<script th:src="@{/mall/js/search.js}" type="text/javascript"></script>
<script type="text/javascript">

    $(function () {
        var time = $("#saveAndGoCart").attr("imitedTime");
        if (time != null && time != "") {
            var date = new Date(time);
            // 有三种方式获取
            var time1 = date.getTime();
            var time2 = new Date().getTime();
            var cha = time1 - time2;
            if (cha < 0) {
                $("#saveAndGoCart").val("抢购截止")
                $("#saveAndGoCart").attr("disabled","disabled")
                $("#gouwuche").attr("disabled","disabled")
                $("#saveAndGoCart").css('background-color','#BFEFFF');
                $("#gouwuche").css('background-color','#BFEFFF');
            }
        }
    })

    /**
     * 添加到购物车
     */
    function saveToCart(id) {
        var goodsCount = 1;
        var data = {
            "goodsId": id,
            "goodsCount": goodsCount
        };
        $.ajax({
            type: 'POST',
            url: '/shop-cart',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function (result) {
                if (result.resultCode == 200) {
                    swal({
                        title: "添加成功",
                        text: "确认框",
                        icon: "success",
                        buttons: true,
                        dangerMode: true,
                    }).then((flag) => {
                            window.location.reload();
                        }
                    );
                } else {
                    swal(result.message, {
                        icon: "error",
                    });
                }
            },
            error: function () {
                swal("操作失败", {
                    icon: "error",
                });
            }
        });
    }

    /**
     * 添加到购物车并跳转至购物车页面
     */
    function saveAndGoCart(id) {
        var goodsCount = 1;
        var data = {
            "goodsId": id,
            "goodsCount": goodsCount
        };
        $.ajax({
            type: 'POST',
            url: '/shop-cart',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function (result) {
                if (result.resultCode == 200) {
                    swal({
                        title: "已将商品加入购物车",
                        icon: "success",
                        buttons: {
                            cancel: "留在当前页",
                            confirm: "去购物车结算"
                        },
                        dangerMode: false,
                    }).then((flag) => {
                            if (flag) {
                                window.location.href = '/shop-cart';
                            }
                        }
                    );
                } else {
                    swal(result.message, {
                        icon: "error",
                    });
                }
            },
            error: function () {
                swal("操作失败", {
                    icon: "error",
                });
            }
        });
    }
</script>
<script>

    setTimer();

    //时间为一位数时显示格式为："0X"
    function checkTime(i) {
        if (i < 10) {
            i = "0" + i;
        }
        return i;
    }


    //倒计时
    function setTimer() {
        var plus = $("#saveAndGoCart").attr("plus");
        var limitTime = $("#saveAndGoCart").attr("imitedTime");
        if(limitTime!=undefined&&limitTime!=""&&limitTime!=null){
            if (!plus) {
                //服务器现在的时间（这里只是测试，就用浏览器时间代替）
                var startTime = new Date();
                //活动截止时间endTime（预先给定的值）
                var end = $("#saveAndGoCart").attr("imitedTime");
                var endTime = new Date(end);
                //活动截止时间与当前时间的时间差
                plus = endTime - startTime;
                $("#saveAndGoCart").attr("plus",plus);
            }
            else {
                //距离活动结束还剩余的时间，第二次以后就不需要再计算，直接自减即可
                plus -= 1000;
                $("#saveAndGoCart").attr("plus",plus);
            }

            var day = parseInt(plus / 1000 / 60 / 60 / 24);
            var hour = parseInt(plus / 1000 / 60 / 60) - day * 24;
            var minute = parseInt(plus / 1000 / 60) - parseInt(plus / 1000 / 60 / 60) * 60;
            var second = parseInt(plus / 1000) - parseInt(plus / 1000 / 60) * 60;
            // 如果分钟或小时的值小于10，则在其值前加0，比如如果时间是下午3点20分9秒的话，则显示15：20：09
            day = checkTime(day);
            hour = checkTime(hour);
            minute = checkTime(minute);
            second = checkTime(second);
            if(plus>0){
                $("#qianggouTime").text(" ----限时抢购:" + day + "天" + hour + "时" + minute + "分" + second + "秒");
            }else {
                $("#qianggouTime").text("抢购截止")
            }
            if (plus <= 1) {
                clearInterval(id);
            }


        }

    }

    //每秒循环一次，刷新活动截止时间与当前时间的时间差
    var id = setInterval(setTimer, 1000);
</script>
</body>
</html>